.container{
    background-color: antiquewhite;
}
#titleblock {
    background-color:rgba(77, 185, 228, 0.844);
    border-radius: 20em;
}

h1{
    font-size: 250%;
    letter-spacing: 0.3em;
    text-align: center;
}

p{
    font-family: cursive;
    font-size: 2em;
    text-align: center;
}

.p2{
    font-family: cursive;
    font-size: 1em;
    text-align: center;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    width:400px;
}

.block2{
    width:80px;
}

.rowblock{
    height:20px;
}

.player{
    background-color:rgba(15, 185, 228, 0.844);
    /*
    width:400px;
    */
    border-radius: 20em;
}

#data {
    margin-bottom: 50px;
    margin-top: 20px; 
}

#data2 {
    margin-bottom: 50px;
    margin-top: 20px; 
}

div.poker {
    text-align: center;
}

.poker {
    text-align: center;
}

footer {
    background: rgb(151, 224, 231, 0.712); 
    color: rgb(119, 117, 117);
    text-align: center;
    margin: 0;
}